* {
  box-sizing: border-box;
  margin: 0;
  padding: 0%;
}

body {
  background: url(./images/bg-pattern-desktop.svg) no-repeat center center/cover;
  font-family: "Josefin Sans", sans-serif;
}

h1 {
  font-size: 3.8rem;
  font-weight: 300;
  line-height: 1.1;
  text-transform: uppercase;
  letter-spacing: 10px;
  padding-top: 60px;
  padding-bottom: 30px;
  text-align: center;
}

nav {
  padding: 30px;
}

#nav-desktop {
  display: none;
}

#showcase-image_desktop {
  display: none;
}

.text-pink {
  color: hsl(0, 36%, 70%);
}

#showcase-image_mobile {
  width: 100%;
}

.info-text {
  line-height: 1.9;
  text-align: center;
  padding-bottom: 30px;
}

.container {
  width: 80%;
  max-width: 1100px;
  margin: 0 auto;
}

form {
  margin: 0 auto;
}

.wrapper {
  display: flex;
}

.wrapper input[type="email"] {
  flex: 1 1 auto;
  border-bottom-left-radius: 60px;
  border-top-left-radius: 60px;
  border-right: none;
}

.wrapper input[type="submit"] {
  border-radius: 60px;
  margin-left: -40px;
  cursor: pointer;
  background: url(./images/icon-arrow.svg),
    linear-gradient(135deg, hsl(0, 100%, 98%), hsl(0, 74%, 74%));
  background-position: center;
  background-repeat: no-repeat;
  border-style: none;
  color: transparent;
}

input {
  border-color: hsl(0, 36%, 70%);
  border-style: solid;
  padding: 20px;
  margin-bottom: 10px;
}

input:focus {
  outline: none;
  border-color: hsl(0, 93%, 68%);
  box-shadow: 0 0 10px hsl(0, 93%, 68%);
  border-color: hsl(0, 93%, 68%);
}

input[type="submit"]:hover {
  background: url(./images/icon-arrow.svg),
    linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  background-position: center;
  background-repeat: no-repeat;
}

::placeholder {
  color: hsl(0, 36%, 70%);
}

/* Error Message */

#icon {
  position: absolute;
  padding-bottom: 20px;
}

#error-msg {
  display: none;
  color: #ff2851;
  font-size: 14px;
  margin-top: 10px;
}

#image {
  display: none;
  position: absolute;
  margin-top: 15px;
  margin-right: auto;
  right: 80px;
  min-width: 10px;
}

.relative {
  position: relative;
}

@media (min-width: 800px) {
  .container-desktop {
    display: flex;
    gap: 30px;
    width: 80%;
    max-width: 1100px;
    margin: 0 auto;
  }

  #nav-desktop {
    display: block;
  }

  #nav-mobile {
    display: none;
  }
  h1 {
    margin-top: 40px;
  }

  input [type="email"] {
    width: 100%;
  }

  .wrapper input[type="submit"] {
    padding: 0 40px;
  }

  .logo {
    margin-top: 30px;
  }

  .showcase-image {
    order: 3;
    flex-basis: 60%;
    width: 60%;
  }

  #showcase-image_mobile {
    display: none;
  }

  .container {
    padding: 0 30px;
    width: 50%;
    margin-left: 0;
  }

  nav {
    padding: 0;
    width: 50%;
    margin-left: 0;
  }

  .info-text {
    text-align: left;
  }

  #showcase-image_desktop {
    display: block;
    width: 100%;
  }

  #image {
    right: 120px;
  }
}
